<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-cKrXm4uA78qDWO-XMAbbfxFTvm926nk</string>
	<key>GCM_SENDER_ID</key>
	<string>324720778272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aman.chit-chat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-47a71</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-47a71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324720778272:ios:2bcb2d2852f4097ea27045</string>
</dict>
</plist>